@import 'common.scss';

.button {
    transition: color $hover-transition-time;
    background: none;
    color: $foreground-color;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;

    // allow to adapt to the parent context
    color: inherit;
    font-size: inherit;
    font-family: inherit;

    &:hover, &:focus-visible {
        color: $accent-color;
    }
}
