@import 'common.scss';

.info {
    display: flex;
    align-items: center;
    justify-content: center;

    .home, .name {
        font-size: 2rem;
    }

    .version {
        font-size: 0.7rem;
    }

    & > * {
        margin: 2rem;
    }
}
