@import 'common.scss';

.search {
    display: flex;
    align-items: center;
    border: 1px solid $foreground-color;

    input {
        transition: width 500ms;
        background: $background-color;
        color: $foreground-color;
        width: 5em;
        border: none;
        outline: none;

        &:focus {
            width: 20em;
        }
    }
}
