@import 'common.scss';

.search {
    display: flex;
    align-items: center;
    width: 12em;
    border: 1px solid $foreground-color;
    border-radius: 1em;

    input {
        flex-grow: 1;
        background: none;
        color: $foreground-color;
        padding-left: 0.4em;
        width: 100%;
        border: none;
        outline: none;

        // allow to adapt to the parent context
        font-family: inherit;

        &:focus {
            color: $accent-color;

            &::placeholder {
                color: transparent;
            }
        }

        &::placeholder {
            text-align: center;
            color: $foreground-color;
        }
    }

    div {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }
}
