@import 'common.scss';

.search {
    display: flex;
    align-items: center;
    border: 1px solid $foreground-color;

    input {
        transition: width 250ms;
        background: $background-color;
        color: $foreground-color;
        text-align: center;
        width: 5em;
        border: none;
        outline: none;

        &:focus {
            width: 15em;
        }

        &::placeholder {
            color: $foreground-color;
        }
    }

    div {
        white-space: nowrap;
    }
}
